@import 'nib/vendor'
vendor-prefixes = o ms webkit moz official

// /*Zone Construct*/
@keyframes rotateIcon{
	from{
		transform rotate(0deg)
	}
	to{
		transform rotate(360deg)
	}
}
.Content-messages
	padding-top 3em
	text-align center
.message-img
	width 13em
	margin 0
.message
	text-decoration underline
.message-icon
	margin 0
	color #D22114
	text-shadow 1px 1px 5px #C11003
	font-size 7em
	animation rotateIcon 3s infinite
.message-footer
	text-align center
.message-footerDev
	margin 0
.message-footerLink
	font-style italic
	transition .5s all ease
	&:hover
		text-decoration underline

body
	position relative
.Header
	background #EEEEEE
	border-bottom 2px solid #DDD
.Header-contentImg
	text-align center
.Header-img
	width 16em
	padding-top 15px
.Header-title
	text-shadow 1px 1px 5px #666
	margin-bottom 0
	text-align center
.Header-subtitle
	text-align center
	font-size 24px

.Menu
	background #F44336
	padding 0
.Menu-a
	transition .5s all ease
	&:hover
		font-size 1.2em

.topMenu
.bottomMenu
	background #EEEEEE
.bottomMenu
	padding-bottom .5em
.topMenu
	box-shadow inset 0 1px 5px #DDD
.topMenu-list
.bottomMenu-list
	text-align center
	margin 0
.topMenu-link
.bottomMenu-link
	color #333
	transition .5s all ease
	&:hover
		color #F44336

.mdi-social-group
.mdi-action-assignment
.mdi-social-group-add
.mdi-social-school
.mdi-action-search
.mdi-notification-tap-and-play
.mdi-action-assignment-turned-in
.mdi-action-list
	font-size 42px
	margin 0

/* Styles Home and Members */
.Home
	background #EEE
	border-top 2px solid #DDD
	padding 1em
.Home-title
.Members-title
	text-align center

// Styles Statutes
.Statutes-title
.Statutes-subtitle
	text-align center
.Statutes-article h6
	text-align center

// Styles Who
.Who
	background #EEEEEE
	border-top 2px solid #DDD
	padding-top 10px
	padding-bottom 10px
	text-align center

.btn
	background #DDD
	&:hover
		background #F44336
		color white

.Who-list1
.Who-list2
	font-size 1.5em
	&:hover
		color blue

.tabs
	background #EEEEEE
	
.quienessomos
	background #EEEEEE
	text-align justify
	padding 10px 0
.objetives
.history
	width 80%
	margin 0 auto
	list-style lower-latin
.objetives-title
.history-title
	text-align center
	border-bottom 2px solid #DDD
	padding-bottom 5px
	
//Button up
.buttonUp
	position fixed
	bottom 0
	right 3em
	padding 0.5em
	border-radius 50%
	display none
	transition .5s all ease
	&:hover
		transform scale(1.1, 1.1)
.buttonUp-icon
	font-size 5em
	color #F44336
	text-shadow 1px 1px 5px #D22114

.Footer
	background #F44336
	text-align center
	padding 1em 0
.Footer-contentLogo
	margin 0
.Footer-logo
	width 6em
.Footer-information
.Footer-year
.Footer-org
	margin 0
	& a
		color #eee
		&:hover
			text-decoration underline