body{background:#f44336;color:#fff}
.Content-messages{padding-top:3em;text-align:center}
.message-img{width:17em;margin:0}
.message{text-decoration:underline}
.message-icon{margin:0;color:#d22114;text-shadow:1px 1px 5px #c11003;font-size:7em}
.message-footer{text-align:center}
.message-footerDev{margin:0}
.message-footerLink{color:#49fd72;font-style:italic;-o-transition:0.5s all ease;-ms-transition:0.5s all ease;-webkit-transition:0.5s all ease;-moz-transition:0.5s all ease;transition:0.5s all ease;}
.message-footerLink:hover{text-decoration:underline;color:#fff}
.Header{background:#eee;border-bottom:2px solid #ddd}
.Header-contentImg{text-align:center}
.Header-img{width:16em;padding-top:15px}
.Header-title{text-shadow:1px 1px 5px #666;margin-bottom:0;text-align:center}
.Header-subtitle{text-align:center;font-size:24px}
.Menu{background:#f44336;padding:0}
.Menu-a{-o-transition:0.5s all ease;-ms-transition:0.5s all ease;-webkit-transition:0.5s all ease;-moz-transition:0.5s all ease;transition:0.5s all ease;}
.Menu-a:hover{font-size:1.2em}
.topMenu,.bottomMenu{background:#eee}
.bottomMenu{padding-bottom:.5em}
.topMenu{-webkit-box-shadow:inset 0 1px 5px #ddd;box-shadow:inset 0 1px 5px #ddd}
.topMenu-list,.bottomMenu-list{text-align:center;margin:0}
.topMenu-link,.bottomMenu-link{color:#333;-o-transition:0.5s all ease;-ms-transition:0.5s all ease;-webkit-transition:0.5s all ease;-moz-transition:0.5s all ease;transition:0.5s all ease;}
.topMenu-link:hover,.bottomMenu-link:hover{color:#f44336}
.mdi-social-group,.mdi-action-assignment,.mdi-social-group-add,.mdi-social-school,.mdi-action-search,.mdi-notification-tap-and-play,.mdi-action-assignment-turned-in,.mdi-action-list{font-size:42px;margin:0}
.Home{background:#eee;border-top:2px solid #ddd;padding:1em}
.Home-title{text-align:center}
.Who{background:#eee;border-top:2px solid #ddd;padding-top:10px;padding-bottom:10px;text-align:center}
.btn{background:#ddd;}
.btn:hover{background:#f44336;color:#fff}
.Who-list1,.Who-list2{-o-transition:0.5s all ease;-ms-transition:0.5s all ease;-webkit-transition:0.5s all ease;-moz-transition:0.5s all ease;transition:0.5s all ease;font-size:1.2em;color:#f44336;}
.Who-list1:hover,.Who-list2:hover{font-weight:bold}
.tabs{background:#eee}
.quienessomos{background:#eee;text-align:justify}
.objetivos{padding-top:10px;margin-top:0}
.history{margin-bottom:0;border-top:2px solid #ddd}
.objetivos-title,.history-title{font-weight:bold}
.Footer{background:#f44336;text-align:center}
.Footer-information{margin:0;padding:2em 0;font-size:1.1em;}
.Footer-information a{color:#eee;}
.Footer-information a:hover{text-decoration:underline}
