<!DOCTYPE html>
<html lang="es">
<head>
	<link type="image/x-icon" href="img/acopico.png" rel="icon" />
	<meta charset="UTF-8" />
	<title>Acopterfar</title>
	<link rel="stylesheet" href="css/vendor/normalize.css" />
	<link rel="stylesheet" href="css/vendor/materialize.min.css" />
	<link rel="stylesheet" href="css/estilo.css" />
</head>
<body>
	<section class="Content-messages">
		<img src="img/acopterfar-black.png" alt="" class="message-img" />
		<h1 class="message">Hola! gracias por visitarnos.</h1>
		<h3 class="sub-message">En estos momentos nuestra página se encuentra en construcción. Pronto estaremos contigo. <i class="mdi-image-tag-faces"></i></h3>
		<em class="message-return">Para volver click <a href="http://www.acopterfar.org">aquí</a></em>
	</section>
	<footer class="message-footer">
		<i class="mdi-action-settings message-icon"></i>
	</footer>

	<script src="js/vendor/jquery.min.js"></script>
	<script src="js/vendor/materialize.min.js"></script>
	<script src="js/acopterfar.js"></script>
</body>
</html>