{% extends 'layout.html' %}

{% block aside %}
	<aside class="container topMenu">
		<ul class="row topMenu-list">
			<a href="/regulations" class="topMenu-link">
				<li class="col s3 topMenu-li"><p class="mdi-social-group icono"></p>Miembros activos</li>
			</a>
			<a href="/regulations" class="topMenu-link">
				<li class="col s3 topMenu-li"><p class="mdi-action-assignment icono"></p>Estatutos y Noticias de Interes</li>
			</a>
			<a href="/regulations" class="topMenu-link">
				<li class="col s3 topMenu-li"><p class="mdi-social-group-add icono"></p>Capacitación</li>
			</a>
			<a href="/regulations" class="topMenu-link">
				<li class="col s3 topMenu-li"><p class="mdi-social-school icono"></p>Egresados</li>
			</a>
		</ul>
	</aside>
	<aside class="container bottomMenu">
		<ul class="row bottomMenu-list">
			<a href="/regulations" class="bottomMenu-link">
				<li class="col s3 bottomMenu-li"><p class="mdi-action-search icono"></p>Investigación</li>
			</a>
			<a href="/regulations" class="bottomMenu-link">
				<li class="col s3 bottomMenu-li"><p class="mdi-notification-tap-and-play icono"></p>Boletín TRF - UIS</li>
			</a>
			<a href="/regulations" class="bottomMenu-link">
				<li class="col s3 bottomMenu-li"><p class="mdi-action-assignment-turned-in icono"></p>Reacreditación TRF - UdeA</li>
			</a>
			<a href="/regulations" class="bottomMenu-link">
				<li class="col s3 bottomMenu-li"><p class="mdi-action-list icono"></p>Convocatoria RF - Unillanos</li>
			</a>
		</ul>
	</aside>
{% endblock %}

{% block content %}
	<section class="container Home">
		<div class="row">
			<div class="col s4">
				<img src="img/congre.jpg" class="responsive-img materialboxed" />
			</div>
			<article class="col s8 Home-article">
				<h4 class="Home-title">LA REGENCIA DE FARMACIA EN COLOMBIA</h4>
				<p class="Home-question"><a href= "http://www.regentedefarmacia.org/home/que-sabes-de-la-regencia-de-farmacia" target="_blank">¿Que sabe de la regencia de farmacia?</a></p>
			</article>
			<article class="col s8 Home-article">
				<h4 class="Home-title">Dia Nacional del regente de Farmacia</h4>
				<strong class="Home-subtitle">El dia del regente de Farmacia se celebra en Colombia el 7 de junio porque:</strong>
				<p class="Home-description">El 7 de junio de 1967 El Consejo Directivo de la Universidad de Antioquia aprobó mediante el Acuerdo Nº 4, el Programa de Regencia en Farmacia, adscrito a la Facultad de Química Farmacéutica, y su plan de estudios se reglamentó según el Acuerdo No. 21 del 28 de junio de 1967; adscrita al departamento de Farmacia, con duración de 5 semestres con el objetivo de formar Tecnólogos aptos para manejar las Farmacias y droguerías del país; para dar información, distribuir y vender productos farmacéuticos; para vigilar este tipo de establecimientos y contribuir a la conservación de la salud pública.</p>
				<p>En el acta No. 03 de Agosto 3 de 2012 los miembros de ACOPTERFAR acogieron por unanimidad dicha </p>
			</article>
			<article class="col s8 Home-slider">
				<div class="slider">
				    <ul class="slides">
				      <li>
				        <img src="img/acolrefar.jpg"> <!-- random image -->
				        <div class="caption center-align">
				        </div>
				      </li>
				      <li>
				        <img src="img/acolrefar1.jpg"> <!-- random image -->
				        <div class="caption left-align">
				        </div>
				      </li>
				      <li>
				        <img src="img/acolrefar2.jpg"> <!-- random image -->
				        <div class="caption right-align">
				        </div>
				      </li>
				      <li>
				        <img src="img/acolrefar3.jpg"> <!-- random image -->
				        <div class="caption center-align">
				        </div>
				      </li>
				      <li>
				        <img src="img/acolrefar4.jpg"> <!-- random image -->
				        <div class="caption center-align">
				        </div>
				      </li>
				      <li>
				        <img src="img/acolrefar5.jpg"> <!-- random image -->
				        <div class="caption center-align">
				        </div>
				      </li>
				    </ul>
				  </div>
			</article>
		</div>
	</section>
{% endblock %}