{% extends 'layout.html' %}

{% block content %}
	<section class="container Members">
		<h5 class="Members-title">JUNTA DIRECTIVA 2015 - 2017</h5>
		<table class="striped centered responsive-table">
			<thead>
				<tr>
					<th data-field="name">NOMBRE</th>
					<th data-field="job">CARGO</th>
					<th data-field="institute">INSTITUCIÓN</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Augusto Ortega Vásquez</td>
					<td>Presidente</td>
					<td><a href= "https://www.unad.edu.co/" target="_blank">Universidad Nacional Abierta y a Distancia UNAD</a></td>
				</tr>
				<tr>
					<td>Jova Ramírez Charry</td>
					<td>Vicepresidente</td>
					<td><a href= "http://www.uis.edu.co/webUIS/es/index.jsp" target="_blank">Universidad Industrial de Santander UIS</a></td>
				</tr>
				<tr>
					<td>Hiltony Villa Dangond</td>
					<td>Tesorero</td>
					<td><a href= "http://www.unicordoba.edu.co/" target="_blank">Universidad de Córdoba</a></td>
				</tr>
				<tr>
					<td>Adriana Lozano</td>
					<td>Secretaria</td>
					<td><a href= "http://www.ctb.edu.co/" target="_blank">Corporación Tecnológica de Bogotá</a></td>
				</tr>
				<tr>
					<td>Claudia Becerra</td>
					<td>Revisor Fiscal</td>
					<td><a href= "http://www.sena.edu.co/Paginas/portada.aspx" target="_blank">Servicio Nacional de Aprendizaje SENA</a></td>
				</tr>
				<tr>
					<td>Patricia Inés Robles</td>
					<td>Vocal</td>
					<td><a href= "http://www.ut.edu.co/" target="_blank">Universidad del Tolima</a></td>
				</tr>
				<tr>
					<td>Javier Mauricio Ceballos</td>
					<td>Vocal</td>
					<td><a href= "http://www.udea.edu.co/" target="_blank">Universidad de Antioquia</a></td>
				</tr>
				<tr>
					<td>Ana Judith Suarez</td>
					<td>Vocal</td>
					<td><a href= "http://www.umariana.edu.co/" target="_blank">Universidad Mariana</a></td>
				</tr>
				<tr>
					<td>German Alberto Portilla</td>
					<td>Vocal</td>
					<td><a href= "http://www.unillanos.edu.co/" target="_blank">Universidad de los Llanos</a></td>
				</tr>
				<tr>
					<td>Gladis Amparo Lopera</td>
					<td>Vocal</td>
					<td><a href= "http://www.uniremington.edu.co/" target="_blank">Corporación Universitaria Remington</a></td>
				</tr>
				<tr>
					<td>Ligia Teresa Mora</td>
					<td>Vocal</td>
					<td><a href= "http://www.ufps.edu.co/" target="_blank">Universidad Francisco de Paula Santander</a></td>
				</tr>
				<tr>
					<td>Everaldo Naranjo Lerma</td>
					<td>Vocal</td>
					<td><a href= "http://www.usc.edu.co/" target="_blank">Universidad Santiago de Cali</a></td>
				</tr>	
			</tbody>
		</table>
	</section>
{% endblock %}