{% extends 'layout.html' %}
{% block aside %}
	<aside class="container topMenu">
		<ul class="row topMenu-list">
			<a href="#" class="col s1 offset-s2 topMenu-link tooltipped" data-position="top" data-delay="50" data-tooltip="Miembros activos	">
				<li class=" topMenu-li"><p class="mdi-social-group icono"></p></li>
			</a>
			<a href="###" class="col s1 topMenu-link tooltipped" data-position="top" data-delay="50" data-tooltip="Estatutos">
				<li class="topMenu-li"><p class="mdi-action-assignment icono"></p></li>
			</a>
			<a href="####" class="col s1 topMenu-link tooltipped" data-position="top" data-delay="50" data-tooltip="Capacitacion">
				<li class="topMenu-li"><p class="mdi-social-group-add icono"></p></li>
			</a>
			<a href="#####" class="col s1 topMenu-link tooltipped" data-position="top" data-delay="50" data-tooltip="Egresados">
				<li class="topMenu-li"><p class="mdi-social-school icono"></p></li>
			</a>
			<a href="###########" class="col s1 bottomMenu-link tooltipped" data-position="top" data-delay="50" data-tooltip="Investigacion">
				<li class="bottomMenu-li"><p class="mdi-action-search icono"></p></li>
			</a>
			<a href="#####" class="col s1 bottomMenu-link tooltipped" data-position="top" data-delay="50" data-tooltip="Boletín TRF-UIS">
				<li class="bottomMenu-li"><p class="mdi-notification-tap-and-play icono"></p></li>
			</a>
			<a href="#########" class="col s1 bottomMenu-link tooltipped" data-position="top" data-delay="50" data-tooltip="Reacreditacion TRF-UdeA">
				<li class="bottomMenu-li"><p class="mdi-action-assignment-turned-in icono"></p></li>
			</a>
			<a href="#########" class="col s1 bottomMenu-link tooltipped" data-position="top" data-delay="50" data-tooltip="Convocatoria RF-Unillanos">
				<li class="bottomMenu-li"><p class="mdi-action-list icono"></p></li>
			</a>
		</ul>
	</aside>
{% endblock %}
{% block content %}
	<section class="container Who">
		<ul class="row fila">
			<li class="col s6 Who-list"><a class="Who-list1" href="#objetivo">tu mamaaaa</a> </li>
			<li class="col s6 Who-list"><a class="Who-list2" href="#history"> Historia</a> </li>
		</ul>
	</section>
{% endblock %}