{% extends 'layout.html' %}

{% block aside %}
	<aside class="container topMenu">
		<ul class="row topMenu-list">
			<a href="/members" class="col s1 offset-s2 topMenu-link tooltipped" data-position="top" data-delay="10" data-tooltip="Miembros activos	">
				<li class=" topMenu-li"><p class="mdi-social-group icono"></p></li>
			</a>
			<a href="/statutes" class="col s1 topMenu-link tooltipped" data-position="top" data-delay="10" data-tooltip="Estatutos">
				<li class="topMenu-li"><p class="mdi-action-assignment icono"></p></li>
			</a>
			<a href="/regulations" class="col s1 topMenu-link tooltipped" data-position="top" data-delay="10" data-tooltip="Capacitacion">
				<li class="topMenu-li"><p class="mdi-social-group-add icono"></p></li>
			</a>
			<a href="/regulations" class="col s1 topMenu-link tooltipped" data-position="top" data-delay="10" data-tooltip="Egresados">
				<li class="topMenu-li"><p class="mdi-social-school icono"></p></li>
			</a>
			<a href="/regulations" class="col s1 bottomMenu-link tooltipped" data-position="top" data-delay="10" data-tooltip="Investigación">
				<li class="bottomMenu-li"><p class="mdi-action-search icono"></p></li>
			</a>
			<a href="/regulations" class="col s1 bottomMenu-link tooltipped" data-position="top" data-delay="10" data-tooltip="Boletín TRF-UIS">
				<li class="bottomMenu-li"><p class="mdi-notification-tap-and-play icono"></p></li>
			</a>
			<a href="/regulations" class="col s1 bottomMenu-link tooltipped" data-position="top" data-delay="10" data-tooltip="Reacreditacion TRF-UdeA">
				<li class="bottomMenu-li"><p class="mdi-action-assignment-turned-in icono"></p></li>
			</a>
			<a href="/regulations" class="col s1 bottomMenu-link tooltipped" data-position="top" data-delay="10" data-tooltip="Convocatoria RF-Unillanos">
				<li class="bottomMenu-li"><p class="mdi-action-list icono"></p></li>
			</a>
		</ul>
	</aside>
{% endblock %}

{% block content %}
	<section class="container Who">
		<div class="row">
			<div class="col s6 offset-s3">
				<ul class="tabs">
					<li class="tab col s6 Who-list"><a class="Who-list1" href="#objetives">Objetivos</a> </li>
					<li class="tab col s6 Who-list"><a class="Who-list2" href="#history"> Historia</a> </li>
				</ul>	
			</div>
		</div>
	</section>
	<section class="container quienessomos">
		<article class="objetives" id="objetives">
			<h4 class="objetives-title">OBJETIVOS</h4>
			<ol>
				<li><p>Fomentar vínculos académicos e investigativos con un sólido sistema de intercambio entre las diferentes unidades académicas a nivel nacional e internacional, para sostener un desarrollo profesional a través de actividades conjuntas.</p> 
				</li>
				<li><p>Promover la actualización del Tecnólogo en Regencia de Farmacia mediante educación informal que permita mejorar su calidad profesional.</p>
				</li>
				<li> <p>Fomentar los vínculos académicos con diferentes áreas del conocimiento que permitan un trabajo interdisciplinario.</p>
				</li>
				<li> <p>Participar en los diferentes procesos de registro calificado,  autoevaluación y acreditación de los programas académicos de Tecnología en Regencia de Farmacia del país.</p>
				</li>
				<li> <p>Representar los programas académicos de Tecnología en Regencia de Farmacia en las instancias gubernamentales que tienen que ver con el ejercicio profesional, entre otros: Ministerio de Educación Nacional y Ministerio de la Protección Social o quienes hagan sus veces,  e Instituciones de Servicio, Investigación y Ciencias.</p>
				</li>
				<li> <p>Participar en la reglamentación del ejercicio profesional y del código de ética en las instancias pertinentes.</p>
				</li>
				<li> <p>Establecer y mantener relación con entidades públicas y privadas nacionales e internacionales que por su carácter puedan contribuir al fortalecimiento de la Tecnología en Regencia de Farmacia.</p>
				</li>
				<li> <p>Promover la calidad académica en los programas de Tecnología en Regencia de Farmacia y su adecuación a las necesidades del país y al desarrollo de la ciencia y la tecnología.</p>
				</li>
				<li> <p>Promover la conformación de grupos interdisciplinarios que contribuyan al desarrollo de la ciencia y la tecnología y den respuesta a la problemática del país.</p>
				</li>
				<li> <p>Mantener un sistema de información actualizado de los programas académicos en la búsqueda permanente de la calidad.</p>
				</li>
				<li> <p>Conformar un grupo de estudio permanente frente a la problemática de la salud en el país, detectando prioridades y tendencias investigativas que puedan ser conocidas y consultadas por todos los programas.</p>
				</li>
				<li> <p>Servir de cuerpo consultivo y asesor en los asuntos relacionados con los programas académicos de la Tecnología en Regencia de Farmacia  del país.</p>
				</li>
				<li> <p>Recopilar información científico – académico que redunde en el cumplimiento de los objetivos de la Asociación.</p>
				</li>
				<li> <p>Prestar servicios a entidades gubernamentales  y particulares, nacionales e internacionales como órgano consultor y asesor en actividades propias y/o complementarias de la profesión.</p>
				</li>
			</ol>
		</article>
		<article id="history" class="history">
			<h4 class="history-title">HISTORIA DEL PROGRAMA DE TECNOLOGIA EN REGENCIA DE FARMACIA</h4>
			<p>Con la expedición de la <strong>Ley 23 de 1962</strong>, aún vigente cincuenta y cinco años después, fue resultado de una intensa actividad gremial, en especial por parte del Colegio Colombiano de Químicos Farmacéuticos, que buscó generar claros límites de exclusividad para el profesional farmacéutico, límites que fueron amenazados por procesos legislativos que buscaban <em>"imponer a los médicos como directores técnicos"</em> en la industria Farmacéutica.</p>
			<p>La década del 60 al 70 fue positiva para la industria farmacéutica y otros laboratorios vinieron al país. Ya se encuentran produciendo 30 firmas americanas y 40 nacionales y europeas. Tres años más tarde se funda la Asociación de Fabricantes de Drogas (Afidro), que tiene como primer Presidente Ejecutivo a Misael Pastrana Borrero.</p>
			<p>Preocupados por la desbandada de Químicos Farmacéuticos hacia la Industria y la carencia de un profesional idóneo en las farmacias y droguerías, en dos seminarios de educación farmacéutica, uno celebrado en Cartagena en 1966 y otro en Bogotá en 1967, con la presencia de Decanos y profesores de las 4 facultades de farmacia que existían, se discutió sobre la necesidad de formación de profesionales con competencia en el tema; el Doctor Antonio Mesa, quien posteriormente se desempeñó como rector de la Universidad de Antioquia, escribió:</p>
			<p style="padding: 0 3em;"><em>“Las Escuelas de Farmacia se dedicaron a preparar mejor cada vez un técnico para la Industria y ante este halago, ningún egresado quería ejercer la Farmacia propiamente dicha. Se encontraba ante dos caminos claros y sencillos: Desempeñar a cabalidad su profesión aprovechando el máximo de sus conocimientos en la industria Farmacéutica o entrar en competencia con los nuevos mercaderes inescrupulosos que se habían adueñado de un pingüe negocio, la SALUD DEL PUEBLO COLOMBIANO.</em></p>
			<p style="padding: 0 3em;"><em>Era obvio el camino que escogía. Su formación universitaria no le permitía otro camino. De las dos oportunidades que parecían ofrecérsele en realidad no había sino una solución, y optaba por ella. Y seguía el círculo vicioso.</em></p>
			<p style="padding: 0 3em;"><em>El profesional no se iba a la Farmacia, por su desprestigio, porque ella no representaba para él ningún estímulo científico, a pesar de que en ocasiones la remuneración o el halago económico pudieran ser mayor y por tanto la Farmacia seguía su camino descendente.</em></p>
			<p style="padding: 0 3em;"><em>Todos los días más comercializada, más "tienda" y más viciada. Grandes escándalos como falsificaciones, cambios de etiquetas, venta de muestras gratis, comercio de estupefacientes, etc., era comidilla diaria.”</em></p>
			<p style="padding: 0 3em;"><em>“Se requería de un profesional que se formara exclusivamente para la Farmacia con una duración menor en sus estudios y con una consigna: Recuperar la Farmacia, por la salud del pueblo”.</em></p>
			<p>Se decidió entonces crear la carrera intermedia de Regencia en Farmacia, con duración de 5 semestres, como respuesta desde la academia al insuficiente número de profesionales universitarios que pudiesen hacerse cargo del creciente número de establecimientos farmacéuticos para la dispensación de medicamentos al público.</p>
			<p>El Consejo Superior de la Universidad de Antioquia el <strong>7 de junio de 1967</strong> materializó dicha decisión e Inició labores en agosto del mismo año con el objeto de formar profesionales aptos para la orientación de farmacias y droguerías, para dar información, distribuir y vender productos farmacéuticos; para vigilar este tipo de establecimientos y contribuir a la conservación de la salud pública. Esta carrera intermedia fue avalada por la <strong>Ley 47 del 5 de diciembre de 1967</strong>. <a href="resources/historia.pdf" target="_blank">Seguir leyendo</a></p>
		</article>
	</section>
{% endblock %}