{% extends 'layout.html' %}

{% block aside %}
	<aside class="container topMenu">
		<ul class="row topMenu-list">
			<a href="/members" class="col s1 offset-s2 topMenu-link tooltipped" data-position="top" data-delay="10" data-tooltip="Miembros activos	">
				<li class=" topMenu-li"><p class="mdi-social-group icono"></p></li>
			</a>
			<a href="/regulations" class="col s1 topMenu-link tooltipped" data-position="top" data-delay="10" data-tooltip="Estatutos">
				<li class="topMenu-li"><p class="mdi-action-assignment icono"></p></li>
			</a>
			<a href="/regulations" class="col s1 topMenu-link tooltipped" data-position="top" data-delay="10" data-tooltip="Capacitacion">
				<li class="topMenu-li"><p class="mdi-social-group-add icono"></p></li>
			</a>
			<a href="/regulations" class="col s1 topMenu-link tooltipped" data-position="top" data-delay="10" data-tooltip="Egresados">
				<li class="topMenu-li"><p class="mdi-social-school icono"></p></li>
			</a>
			<a href="/regulations" class="col s1 bottomMenu-link tooltipped" data-position="top" data-delay="10" data-tooltip="Investigación">
				<li class="bottomMenu-li"><p class="mdi-action-search icono"></p></li>
			</a>
			<a href="/regulations" class="col s1 bottomMenu-link tooltipped" data-position="top" data-delay="10" data-tooltip="Boletín TRF-UIS">
				<li class="bottomMenu-li"><p class="mdi-notification-tap-and-play icono"></p></li>
			</a>
			<a href="/regulations" class="col s1 bottomMenu-link tooltipped" data-position="top" data-delay="10" data-tooltip="Reacreditacion TRF-UdeA">
				<li class="bottomMenu-li"><p class="mdi-action-assignment-turned-in icono"></p></li>
			</a>
			<a href="/regulations" class="col s1 bottomMenu-link tooltipped" data-position="top" data-delay="10" data-tooltip="Convocatoria RF-Unillanos">
				<li class="bottomMenu-li"><p class="mdi-action-list icono"></p></li>
			</a>
		</ul>
	</aside>
{% endblock %}

{% block content %}
	<section class="container Who">
		<div class="row">
			<div class="col s6 offset-s3">
				<ul class="tabs">
					<li class="tab col s6 Who-list"><a class="Who-list1" href="#objetives">Objetivos</a> </li>
					<li class="tab col s6 Who-list"><a class="Who-list2" href="#history"> Historia</a> </li>
				</ul>	
			</div>
		</div>
	</section>
	<section class="container quienessomos">
		<article class="objetives" id="objetives">
			<h4 class="objetives-title">OBJETIVOS</h4>
			<ol>
				<li><p>Fomentar vínculos académicos e investigativos con un sólido sistema de intercambio entre las diferentes unidades académicas a nivel nacional e internacional, para sostener un desarrollo profesional a través de actividades conjuntas.</p> 
				</li>
				<li><p>Promover la actualización del Tecnólogo en Regencia de Farmacia mediante educación informal que permita mejorar su calidad profesional.</p>
				</li>
				<li> <p>Fomentar los vínculos académicos con diferentes áreas del conocimiento que permitan un trabajo interdisciplinario.</p>
				</li>
				<li> <p>Participar en los diferentes procesos de registro calificado,  autoevaluación y acreditación de los programas académicos de Tecnología en Regencia de Farmacia del país.</p>
				</li>
				<li> <p>Representar los programas académicos de Tecnología en Regencia de Farmacia en las instancias gubernamentales que tienen que ver con el ejercicio profesional, entre otros: Ministerio de Educación Nacional y Ministerio de la Protección Social o quienes hagan sus veces,  e Instituciones de Servicio, Investigación y Ciencias.</p>
				</li>
				<li> <p>Participar en la reglamentación del ejercicio profesional y del código de ética en las instancias pertinentes.</p>
				</li>
				<li> <p>Establecer y mantener relación con entidades públicas y privadas nacionales e internacionales que por su carácter puedan contribuir al fortalecimiento de la Tecnología en Regencia de Farmacia.</p>
				</li>
				<li> <p>Promover la calidad académica en los programas de Tecnología en Regencia de Farmacia y su adecuación a las necesidades del país y al desarrollo de la ciencia y la tecnología.</p>
				</li>
				<li> <p>Promover la conformación de grupos interdisciplinarios que contribuyan al desarrollo de la ciencia y la tecnología y den respuesta a la problemática del país.</p>
				</li>
				<li> <p>Mantener un sistema de información actualizado de los programas académicos en la búsqueda permanente de la calidad.</p>
				</li>
				<li> <p>Conformar un grupo de estudio permanente frente a la problemática de la salud en el país, detectando prioridades y tendencias investigativas que puedan ser conocidas y consultadas por todos los programas.</p>
				</li>
				<li> <p>Servir de cuerpo consultivo y asesor en los asuntos relacionados con los programas académicos de la Tecnología en Regencia de Farmacia  del país.</p>
				</li>
				<li> <p>Recopilar información científico – académico que redunde en el cumplimiento de los objetivos de la Asociación.</p>
				</li>
				<li> <p>Prestar servicios a entidades gubernamentales  y particulares, nacionales e internacionales como órgano consultor y asesor en actividades propias y/o complementarias de la profesión.</p>
				</li>
			</ol>
		</article>
		<article id="history" class="history">
			<h4 class="history-title">HISTORIA</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro molestiae iusto quisquam facere praesentium, aperiam ut soluta voluptate provident atque beatae voluptatem modi, ducimus dignissimos, eius culpa sunt repellat. Nobis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi tempora rerum, aliquam rem iusto vero, ullam ipsum nobis numquam delectus ipsam reiciendis libero at itaque enim, voluptas quis dolores sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus et dicta at porro. Pariatur facilis aspernatur voluptatibus rerum nulla laborum ex laudantium voluptatem qui placeat, asperiores porro explicabo culpa harum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro inventore, ipsa, necessitatibus voluptas officia voluptatum sint magni iure rem fugit ea eaque officiis temporibus debitis, provident laborum doloremque cum perferendis.</p>
		</article>
	</section>
{% endblock %}